<!-- Footer -->
<footer class="footer">
  <div class="row">
    <div class="medium-6 columns">
      <p class="copyright">&copy; <time datetime="2023">2023</time> All Rights Reserved.</a></p>
    </div>
    <div class="medium-6 columns">
      <ul class="social-list">
        <li><a href="#" class="mdi mdi-facebook"></a></li>
        <li><a href="#" class="mdi mdi-twitter"></a></li>
        <li><a href="#" class="mdi mdi-instagram"></a></li>
      </ul>
    </div>
  </div>
</footer>