<!-- Header wrap -->
<div class="header-wrap flex flex-middle">

  <!-- Header -->
  <header class="header">

    <!-- Navbar -->
    <nav class="navbar">
      <div class="row">
        <div class="title-bar" data-responsive-toggle="iMenu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </div>
        <div class="top-bar" id="iMenu">
          <div class="top-bar-right">
            <img src="images/favicons/logo.png" alt="custom logo" style="height: 30px;width: auto; margin-left: 10%;">
            <ul class="medium-horizontal large-vertical menu" data-drilldown>
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#services">Services</a></li>
              <!-- <li><a href="#manifesto">Manifesto</a></li> -->
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </header>

</div>