<!-- Section About -->
<section id="about" class="section about">
  <div class="row flex flex-middle">
    <div class="medium-5 columns">
      <div class="card">
        <figure class="figure card-media">
          <img class="bust" src="images/avatars/BustInCircle.png" alt="bust">
        </figure>
      </div>
    </div>
    <div class="medium-7 columns">
      <h4 class="section-title">About Me</h4>
      <p>Legal name: Zhiyang Song</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus error assumenda architecto quasi, dicta magnam eveniet perspiciatis facere voluptatibus magni atque quae totam impedit asperiores vero.</p>
      <ul class="social-list">
        <li><a href="#" class="mdi mdi-twitter"></a></li>
        <li><a href="#" class="mdi mdi-facebook-box"></a></li>
        <li><a href="#" class="mdi mdi-instagram"></a></li>
      </ul>
      <p style="margin-top: 30px"><a style="color: #111;" href="pdfs/Resumé2023.pdf">Click to Download Resumé</a></p>
    </div>
  </div>
</section>

<!-- Section Skills -->
<section class="section">
  <div class="row">
    <div class="column">
      <header class="section-header">
        <h4 class="section-title">My Skills</h4>
      </header>
    </div>
    <div class="large-4 columns">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus optio odio, culpa <b>assumenda laboriosam</b> omnis similique, dolorem voluptatem expedita perferendis deleniti, unde voluptatum quam! Lorem ipsum.</p>
    </div>
    <div class="medium-12 large-8 columns">
      <!-- Progress Bars -->
      <ul class="progress-list">
        <li>
          <h6 class="title skill-title">Full-stack Web Development</h6>
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="85" aria-valuemin="0" aria-valuetext="85 percent" aria-valuemax="100">
            <div class="progress-meter"></div>
            <span class="progress-count"></span>
          </div>
        </li>
        <li>
          <h6 class="title skill-title">Cellular and Molecular Immunology</h6>
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="75" aria-valuemin="0" aria-valuetext="75 percent" aria-valuemax="100">
            <div class="progress-meter"></div>
            <span class="progress-count"></span>
          </div>
        </li>
        <li>
          <h6 class="title skill-title">Transfusion Medicine and Blood Banking Practices</h6>
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="95" aria-valuemin="0" aria-valuetext="95 percent" aria-valuemax="100">
            <div class="progress-meter"></div>
            <span class="progress-count"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>