<%- include('partials/htmlhead') %> 
  <style>
    .home {
      background: none no-repeat scroll center center #42a5f5;
    }
  </style>
</head>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
