<!-- Section Home -->
<section id="home" class="section home">
  <div class="table-wrap">
    <div class="cell-wrap">
      <div class="row">
        <div class="medium-12 columns">
          <header class="section-header">
            <h1 class="headline inverse">Johnny Z. Song</h1>
            <h6 class="inverse">Student number: 301167073</h6>
            <h6 class="inverse">Program: Health Informatics Technology</h6>
          </header>
          <a href="#projects" class="button rounded" data-scroll="smooth">View Projects</a>
          <a href="#services" class="button secondary rounded" data-scroll="smooth">View Services</a>
        </div>
      </div>
    </div>
  </div>
  <div class="fab-wrap">
    <a href="#about" class="button white fab" data-scroll="smooth"><i class="mdi mdi-chevron-down"></i></a>
  </div>
</section>