<!-- Section Testimonials -->
<section class="section testimonials">
  <div class="row column large-10">
    <ul class="slick-slider quotes-slider">
      <li>
        <figure class="figure avatar">
          <img src="images/avatars/avatar.jpg" alt="avatar" />
        </figure>
        <blockquote class="blockquote">
          <h3 class="inverse">Spread ideas</h3>
          Lorem ipsum dolor sit amet, eu alienum explicari quo, est melius necessitatibus ea. His quem nonumes vulputate in, nam quas nostrud iuvaret eu, deserunt adipisci eu vix
          <cite>Craig Palmer, <span>Agency MTD</span></cite>
        </blockquote>
      </li>
      <li>
        <figure class="figure avatar">
          <img src="images/avatars/avatar.jpg" alt="avatar" />
        </figure>
        <blockquote class="blockquote">
          <h3 class="inverse">To connect the world’s professionals to make them more productive and successful.</h3>
          Lorem ipsum dolor sit amet, eu alienum explicari quo, est melius necessitatibus ea. His quem nonumes vulputate in, nam quas nostrud iuvaret eu, deserunt adipisci eu vix
          <cite>Nicole Shaw, <span>Creative Factory</span></cite>
        </blockquote>
      </li>
      <li>
        <figure class="figure avatar">
          <img src="images/avatars/avatar.jpg" alt="avatar" />
        </figure>
        <blockquote class="blockquote">
          <h3 class="inverse">To help humanity thrive by enabling all teams to work together effortlessly.</h3>
          Lorem ipsum dolor sit amet, eu alienum explicari quo, est melius necessitatibus ea. His quem nonumes vulputate in, nam quas nostrud iuvaret eu, deserunt adipisci eu vix
          <cite>Nathan Hunter, <span>Next Design</span></cite>
        </blockquote>
      </li>
    </ul>
  </div>
</section>