<!-- Section projects -->
<section id="projects" class="section portfolio">
  <div class="row column">
    <header class="section-header">
      <div class="row flex flex-bottom">
        <div class="large-6 columns">
          <h4 class="section-title">My Projects</h4>
        </div>
      </div>
    </header>
  </div>
  <div class="row">
    <div class="masonry">
      <div class="grid-sizer medium-6 large-4 columns"></div><!-- grid-sizer -->
      <!-- Item -->
      <div class="item medium-6 large-4 columns design">
        <div class="card">
          <div class="card-media">
            <img src="images/portfolio/webapp.png" alt="image" />
          </div>
          <div class="card-content">
            <h6 class="title">COMP229 Web Application Development</h6>
            <span>Lorem ipsum dolor</span>
          </div>
        </div>
      </div>
      <!-- Item -->
      <div class="item medium-6 large-4 columns inspiration">
        <div class="card">
          <div class="card-media">
            <img src="images/portfolio/programming.png" alt="image" />
          </div>
          <div class="card-content">
            <h6 class="title">COMP212 Programming 3</h6>
            <span>Lorem ipsum dolor</span>
          </div>
        </div>
      </div>
      <!-- Item -->
      <div class="item medium-6 large-4 columns adventure photography">
        <div class="card">
          <div class="card-media">
            <img src="images/portfolio/ICD10.jpg" alt="image" />
          </div>
          <div class="card-content">
            <h6 class="title">COMP381 Tools, Algorithms, and Methods for HCIS</h6>
            <span>Lorem ipsum dolor</span>
          </div>
        </div>
      </div>
      <!-- Item -->
      <div class="item medium-6 large-4 columns design">
        <div class="card">
          <div class="card-media">
            <img src="images/portfolio/dsa.png" alt="image" />
          </div>
          <div class="card-content">
            <h6 class="title">COMP254 Data Structures and Algorithms</h6>
            <span>Lorem ipsum dolor</span>
          </div>
        </div>
      </div>
      <!-- Item -->
      <div class="item medium-6 large-4 columns adventure">
        <div class="card">
          <div class="card-media">
            <img src="images/portfolio/networking.jpg" alt="image" />
          </div>
          <div class="card-content">
            <h6 class="title">COMP216 Networking for Software Developers</h6>
            <span>Lorem ipsum dolor</span>
          </div>
        </div>
      </div>
      <!-- Item -->
      <div class="item medium-6 large-4 columns design inspiration">
        <div class="card medium-8">
          <div class="card-media">
            <img src="images/portfolio/erp.jpg" alt="image" />
          </div>
          <div class="card-content">
            <h6 class="title">COMP321 Enterprise System Integration</h6>
            <span>Lorem ipsum dolor</span>
          </div>
        </div>
      </div>

    </div><!-- / Masonry -->
  </div>
</section>