<!-- Section Services -->
<section class="section services" id="services">
  <div class="row column">
    <header class="section-header">
      <h4 class="section-title">My services</h4>
      <p>Labores inciderint complectitur ei vim, in molestiae</p>
    </header>
  </div>
  <div class="service-grid row small-up-1 medium-up-2 large-up-3">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="iconbox text-center">
            <i class="mdi mdi-laptop"></i>
            <div class="box">
              <h6>Branding</h6>
              <p>Appetere moderatius nam an. No essent dissentias vel, an ludus munere mel. Persius gloriatur</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="iconbox text-center">
            <i class="mdi mdi-star"></i>
            <div class="box">
              <h6>Website and Web App Development</h6>
              <p>Appetere moderatius nam an. No essent dissentias vel, an ludus munere mel. Persius gloriatur</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="iconbox text-center">
            <i class="mdi mdi-camera"></i>
            <div class="box">
              <h6>Social Media Marketing</h6>
              <p>Appetere moderatius nam an. No essent dissentias vel, an ludus munere mel. Persius gloriatur</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="iconbox text-center">
            <i class="mdi mdi-code-braces"></i>
            <div class="box">
              <h6>Blood Typing</h6>
              <p>Appetere moderatius nam an. No essent dissentias vel, an ludus munere mel. Persius gloriatur</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="iconbox text-center">
            <i class="mdi mdi-chart-bar"></i>
            <div class="box">
              <h6>Biomarker Assays for Hematology</h6>
              <p>Appetere moderatius nam an. No essent dissentias vel, an ludus munere mel. Persius gloriatur</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="iconbox text-center">
            <i class="mdi mdi-theater"></i>
            <div class="box">
              <h6>Blood Banking Consultation</h6>
              <p>Appetere moderatius nam an. No essent dissentias vel, an ludus munere mel. Persius gloriatur</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>